:root {
  --primary-color: rgba(96, 112, 255, 1);
}

@media only screen and (max-width: 376px) {
  /* Your CSS styles for mobile devices with a width of 376 pixels or less */
  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav-left {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: var(--primary-color);
  }

  .nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
